.about {
  background-color: var(--background-color);
  // width: 100%;
  // margin-left: auto;
  // margin-right: auto;

  // @media screen and (min-width: 480px) {
  //   max-width: 480px;
  // }

  // @media screen and (min-width: 768px) {
  //   max-width: 768px;
  // }

  // @media screen and (min-width: 1200px) {
  //   max-width: 1200px;
  // }
}

.container-top {
  padding-top: 60px;
  padding-bottom: 20px;
  margin-left: 0;
  margin-right: 0;
}

.about-text {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 12px;
  color: var(--text-color-light);

  @media screen and (min-width: 768px) {
    font-size: 30px;
    font-weight: 800;
    line-height: 1.23;
  }
}

.about-title {
  font-family: 'Seymour One';
  font-weight: 400;
  font-size: 30px;
  line-height: 1.26;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 32px;
  color: var(--text-color-light);
  width: 200px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    letter-spacing: 0.06;
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.25;
    width: 454px;
  }
}

// .container {
//   margin-left: 0;
//   margin-right: 0;
// }

.container-flex {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
  }

  @media screen and (min-width: 1200px) {
    align-items: center;
  }
}

.cow {
  position: relative;
  background-color: rgba($color: #f8d24e, $alpha: 0.7);
  width: 278px;
  height: 278px;
  border-radius: 250px;
  margin-bottom: 62px;

  @media screen and (min-width: 768px) {
    width: 330px;
    height: 330px;
    margin-bottom: 0;
  }

  @media screen and (min-width: 1200px) {
    width: 500px;
    height: 500px;
  }
}

.cow-absolute {
  position: absolute;
  top: 22px;
  width: 278px;

  @media screen and (min-width: 768px) {
    top: 26px;
    width: 334px;
  }

  @media screen and (min-width: 1200px) {
    top: 39px;
    right: 8px;
    width: 490px;
  }
}

.ice {
  @media screen and (min-width: 768px) {
    margin-right: 19px;
    margin-left: auto;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 106px;
    margin-left: auto;
  }
}

.ice-text {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 12px;
  line-height: 1.75;
  letter-spacing: 0.04em;
  color: var(--text-color-light);

  @media screen and (min-width: 768px) {
    line-height: 1.9;
  }

  @media screen and (min-width: 1200px) {
    text-align: start;
    font-size: 14px;
  }
}

.ice-item:not(:last-child) {
  padding-bottom: 8px;
}

.ice-list {
  width: 220px;
  text-align: center;

  @media screen and (min-width: 768px) {
    width: 334px;
    text-align: start;
  }

  @media screen and (min-width: 1200px) {
    width: 463px;
  }
}

.ice-btn {
  width: 164px;
  height: 42px;
  font-family: 'Montserrat SemiBold';
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  border: 0;
  margin-top: 20px;
  display: flex;
  gap: 5px;
  background-color: var(--button-color);
  justify-content: center;
  margin-left: auto;
  margin-right: auto;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    margin-top: 48px;
    margin-left: 0;
    margin-right: 0;
  }
  @media screen and (min-width: 1200px) {
  }
}

.ice-btn:hover {
  background-color: var(--button-active-color);
}

.ice-btn:focus {
  background-color: var(--button-active-color);
  color: var(--button-active-text-color);
}

.ice-btn:default {
  background-color: var(--button-disable-color);
}

.arrow {
  border-right: solid black;
  border-bottom: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.ice-btn:focus .arrow {
  border-right: solid var(--text-color-light);
  border-bottom: solid var(--text-color-light);
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.advantage {
  margin-top: 60px;
}

.advantage-list {
  display: flex;
  gap: 32px;
}

.advantage-title {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 58px;
  line-height: 1.22;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
}

.advantage-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.02em;
  text-align: center;
}
