.modal-ingredients {
  position: absolute;
  top: 20px;
  left: 50vw;
  transform: translate(-50%, 0) scale(1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 28px;
  padding-bottom: 32px;
  padding-left: 20px;
  padding-right: 20px;
  width: 280px;
  height: 990px;


  background-color: var(--modal-background);
  border: 2px solid var(--modal-border-color);
  border-radius: 10px;

  &__title {
    @include font(400, 20px, 28px);
    font-family: 'Seymour One';
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    width: 142px;
  }
}

.modal-ingredients__button-closed {
  position: absolute;
  top: 28px;
  right: 20px;
  background-color: transparent;
  border: none;
    &:hover,
    &:focus {
      fill: var(--button-color);
    }
     
}

.modal-ingredients__button-icon {
  width: 20px;
  height: 20px;
}

.modal-ingredients__circle {
  position: relative;
  margin-top: 29px;
  margin-bottom: 24px;
  width: 131px;
  height: 131px;
  border-radius: 50%;
  border: none;
  background: linear-gradient(
      0deg,
      rgba(156, 190, 143, 0.7),
      rgba(156, 190, 143, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
}
.modal-ingredients__img {
  position: absolute;
  left: 0;
  bottom: 7px;
}

// list
.modal-ingredients__list {
  display: flex;
  justify-content: space-between;
  gap: 9px;
  width: 100%;
  margin-bottom: 39px;
}
.modal-ingredients__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 53px;
  height: 72px;
  border: 2px solid #9cbe8f;
  padding-bottom: 8px;
  border-radius: 40px;
  
}

.modal-ingredients__value {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -2px;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  background-color: #9cbe8f;
  box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
}

.modal-ingredients__number {
  @include font(500, 10px, 28px);
  color: var(--text-color-dark);
}

.modal-ingredients__units {
  text-align: center;
  @include font(400, 10px, 12px);
  color: var(--text-color-dark);
  
  
}

// table
.modal-ingredients__subtitle {
  @include font(500, 20px, 28px);
  text-align: center;
  color: var(--text-color-dark);
}

.modal-ingredients__table {
  width: 100%;
  margin-top: 24px;
  margin-bottom: 48px;
}

.modal-ingredients__table-row {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  &:not(:last-child) {
    margin-bottom: 11px;
  }
}
.modal-ingredients__table-product,
.modal-ingredients__table-amount {
  @include font(400, 14px, 25px);
  color: var(--text-color-dark);
}

// form
.modal-order__inputs_ingredients {
  margin-top: 0;
  margin-bottom: 32px;
}
.modal-order__field_ingredients {
  width: 240px;
  height: 42px;
  &-comment {
    width: 240px;
    height: 84px;
  }
}
.modal-order__input_ingredients::placeholder {
  @include font(400, 14px, 20px);
}
@media screen  and (max-width: 767px) {
  .modal-ingredients__units{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 38px;
  }
  
}
@media screen and (min-width: 768px) {
  .modal-ingredients {
    width: 568px;
    height: 995px;
    padding: 32px 40px;
    &__title {
      width: 100%;
    }
  }
  .modal-ingredients__circle {
    padding-top: 31px;
    padding-bottom: 25px;
  }
  .modal-ingredients__list {
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin-bottom: 48px;
  }
  .modal-ingredients__item {
    width: 65px;
    height: 90px;
  }
  .modal-ingredients__value {
    width: 53px;
    height: 53px;
  }
  .modal-order__field_ingredients {
    width: 368px;

    &-comment {
      width: 368px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .modal-ingredients {
    top: 20%;
  }
}
