.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
  }
  .gallery-section{
    @media screen and (min-width: 768px) and (max-width: 1199px){
      display: none;
    }
    padding-top: 60px;
    padding-bottom: 80px;
    @media screen and (min-width: 1200px){
      padding-top: 87px;
      padding-bottom: 128px;
    }
    
  
    background-image:
    linear-gradient(rgb(132, 161, 120) 0px 60px,rgba(255, 255, 255, 0.1) 60px 186px),
        url("../images/mobile/gallery_background1x.png");
        background-repeat: no-repeat;
        background-position: center top;
      background-size: 480px;
  
        @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
    screen and (min-resolution: 192dpi) and (max-width: 767px),
    screen and (min-resolution: 2dppx) and (max-width: 767px) {
   
      background-image:
      linear-gradient(rgb(132, 161, 120) 0px 60px,rgba(255, 255, 255, 0.1) 60px 186px),
       url("../images/mobile/gallery_background2x.png");
  
  }
  
  
  
    @media screen and (min-width: 1200px){
      background-size: 1200px;
      background-image: 
      linear-gradient( rgb(132, 161, 120) 0px 180px,rgba(255, 255, 255, 0.1) 180px 452px), 
      url("../images/desktop/gallery_background1x.png");
    
  }
  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width:1200px) {
  
      background-image: 
      linear-gradient(rgb(132, 161, 120) 0px 180px,rgba(255, 255, 255, 0.1) 181px 452px),
      url("../images/desktop/gallery_background2x.png");
  }
      
    }
  
    .gallery-section__img{
      width: 100%;
    }
    
    .gallery-section__list{
      padding-left: 20px;
      padding-right: 20px;
      
    @media screen and (min-width: 1200px){
      padding-left: 94px;
      padding-right: 94px;
    }
  
    }
  