.page-header_container {
  background-color: var(--background-color);
  // border: 2px solid red;
  position: relative;
  padding-bottom: 239px;
}
.page-header_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding-top: 15px;
  margin-bottom: 62px;
}
.open-menu-btn {
  background-color: transparent;
  border: none;
}
@mixin herotitle {
  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--text-color-light);
}
.hero-box {
  width: 247px;
}
.hero-box__title {
  @include herotitle;
  font-size: 26px;
  line-height: 1.27;
  margin-bottom: 32px;
}
.hero-box__slogan {
  @include herotitle;
  font-size: 34px;
  line-height: 0.97;
}
.navigation-pages {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.navigation-pages__link {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 8px 12px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 8px;
  line-height: 0.8;
  color: var(--text-color-dark);
  border: 2px solid var(--button-border-color);
  background-color: transparent;
  border-radius: 8px;
  width: 62px;
  height: 24px;
  transition: color var(--cubic), border-color var(--cubic);

  &:hover,
  &:focus {
    border-color: var(--button-active-border-color);
  }

  &:focus {
    color: var(--text-color-light);
  }

  &:disabled {
    border-color: var(--button-disable-border-color);
  }
}
.navigation-pages__link_decor {
  justify-content: flex-start;
  border: none;
  text-decoration: underline;
  width: auto;
  color: var(--accent-color);
  transition: color var(--cubic);

  &:hover,
  &:focus {
    border: none;
    color: var(--button-active-color);
  }

  &:focus {
    border: none;
    color: var(--text-color-light);
  }

  &:disabled {
    border: none;
    color: var(--button-disable-color);
  }
}
.hero-dots {
  position: absolute;
  left: 1px;
  bottom: 1px;
  z-index: 1;
  width: 100%;
  height: 50px;
  background-image: url(../images/mobile/mobile-dots@1x.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
@media screen and (max-width: 479px) {
  .header-nav {
    display: none;
  }
  .order-menu-btn {
    display: none;
  }
  .hero-info {
    display: none;
  }
  .hero-pic-box {
    display: none;
  }
  .hero-pic-aside__ice-cream {
    position: absolute;
    z-index: 3;
    bottom: 10%;
    left: 25%;
    width: 170px;
    height: 219px;
  }
}
@media screen and (min-width: 480px) {
  .header-nav {
    display: none;
  }
  .order-menu-btn {
    display: none;
  }
  .hero-info {
    display: none;
  }
  .hero-pic-box {
    display: none;
  }
  .hero-pic-aside__ice-cream {
    position: absolute;
    z-index: 3;
    bottom: 10%;
    left: 25%;
    width: 170px;
    height: 219px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero-dots {
    background-image: url(../images/mobile/mobile-dots@2x.png);
  }
}
@media screen and (min-width: 768px) {
  .page-header_container {
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 193px;
    position: relative;
  }
  .header-nav {
    display: none;
  }
  .open-menu-btn {
    margin-left: auto;
    margin-right: 32px;
  }
  .order-menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    padding: 12px 34px;
    width: 152px;
    height: 42px;
    background: var(--button-color);
    border-radius: 10px;
    border: none;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 1.21;
    color: var(--text-color-dark);
    transition: background var(--cubic), color var(--cubic);

    &:hover,
    &:focus {
      background: var(--button-active-color);
    }

    &:focus {
      color: var(--text-color-light);
    }

    &:disabled {
      background: var(--button-disable-color);
    }

    &:focus .arrow {
      border-right: solid var(--text-color-light);
      border-bottom: solid var(--text-color-light);
    }
  }
  .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  .page-header_wrapper {
    margin-bottom: 38px;
  }
  .hero-box {
    width: 181px;
  }
  .hero-box__title {
    @include herotitle;
    font-size: 18px;
    line-height: 1.28;
    margin-bottom: 20px;
  }
  .hero-box__slogan {
    @include herotitle;
    font-size: 24px;
    line-height: 0.54;
  }
  .hero-info {
    display: flex;
  }
  .hero-container {
    display: flex;
    justify-content: space-between;
  }
  .hero-info__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .hero-info__number {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 34px;
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--text-color-dark);
    margin-bottom: 4px;
  }
  .hero-info__desc {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;
    text-align: right;
    color: var(--text-color-light);
  }
  .hero-pic-box {
    display: flex;
    align-items: center;
    z-index: 2;
    gap: 33px;
    position: absolute;
    left: 32px;
    bottom: 14px;
  }
  .hero-pic-box__desc {
    max-width: 200px;
    margin-bottom: 20px;
    font-family: 'Montserrat';
    font-size: 12px;
    line-height: 1.42;
    color: var(--text-color-light);
  }
  .hero-pic-box__text {
    flex-direction: column;
  }
  .hero-pic-aside__ice-cream {
    position: absolute;
    z-index: 3;
    bottom: 13%;
    left: 47%;
    width: 270px;
    height: 343px;
  }
  .hero-dots {
    left: 1px;
    bottom: 1px;
    z-index: 1;
    width: 100%;
    height: 67px;
    background-image: url(../images/tablet/tablet-dots@1x.png);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero-dots {
    background-image: url(../images/tablet/tablet-dots@2x.png);
  }
}
@media screen and (min-width: 1200px) {
  .page-header_container {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 332px;
    position: relative;
  }
  .header-nav {
    display: flex;
    gap: 27px;
  }
  .page-header__navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 27px;
  }
  .header-nav__link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    color: var(--text-color-light);
    transition: color var(--cubic);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
  .page-header_wrapper {
    margin-bottom: 48px;
  }
  .hero-box {
    width: 367px;
    margin-bottom: 28px;
  }
  .hero-box__title {
    @include herotitle;
    font-size: 38px;
    line-height: 1.26;
  }
  .hero-box__slogan {
    @include herotitle;
    font-size: 38px;
    line-height: 1.26;
  }
  .logo {
    margin-right: 269px;
  }
  .hero-info {
    display: flex;
  }
  .hero-info__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .hero-info__number {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 46px;
    line-height: 1.22;
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--text-color-dark);
    margin-bottom: 4px;
  }
  .hero-info__desc {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    text-align: right;
    color: var(--text-color-light);
  }
  .navigation-pages {
    gap: 12px;
  }
  .navigation-pages__link {
    font-size: 14px;
    line-height: 1.29;
    width: 134px;
    height: 42px;
  }
  .navigation-pages__link_decor {
    line-height: 1.21;
    width: 154px;
    height: 40px;
  }
  .order-menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    padding: 12px 34px;
    width: 152px;
    height: 42px;
    background: var(--button-color);
    border-radius: 10px;
    border: none;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 1.21;
    color: var(--text-color-dark);
  }
  .open-menu-btn {
    display: none;
  }
  .hero-pic-box {
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 2;
    gap: 14px;
    left: 17px;
    bottom: 65px;
  }
  .hero-pic-box__desc {
    max-width: 200px;
    margin-top: 40px;
    margin-bottom: 20px;
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 1.43;
    color: var(--text-color-light);
  }
  .hero-pic-box__text {
    flex-direction: column;
    justify-content: center;
  }
  .hero-pic-aside__ice-cream {
    position: absolute;
    z-index: 2;
    bottom: 10%;
    left: 47%;
    width: 484px;
    height: 590px;
  }
  .hero-dots {
    left: 1px;
    bottom: 1px;
    z-index: 1;
    width: 100%;
    height: 384px;
    background-image: url(../images/desktop/desctop-dots@1x.png);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero-dots {
    background-image: url(../images/desktop/desctop-dots@2x.png);
  }
}
// --------------------------------------- ANIMATION ---------------------------------------
.logo {
  border-radius: 100%;
  -webkit-animation: pulsing 4s infinite;
  animation: pulsing 4s infinite;
}
@-webkit-keyframes pulsing {
  0% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
  50% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
}
@keyframes pulsing {
  0% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
  50% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
}
.hero-pic-box__pictures {
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  img {
    animation: spin 5s linear 0s infinite;
  }
}
.hero-pic-box__arrow-icon {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.hero-pic-box__desc {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
.hero-pic-aside__ice-cream {
  animation-name: ice-cream;
  animation-duration: 4s;
  animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
}

@-webkit-keyframes ice-cream {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes ice-cream {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes ice-cream {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes ice-cream {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

// --------------------------------------- ANIMATION ---------------------------------------
