.page-header {
    background-color: var(--background-color);
}
.page-header_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    margin-bottom: 62px;
}
.open-menu-btn {
    background-color: transparent;
    border: none;
}
@mixin herotitle {
    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--text-color-light);
} 
.hero-title {
    @include herotitle;
    font-size: 26px;
    line-height: 0.79;   
}
.hero-title_slogan {
    @include herotitle;
    font-size: 34px;
    line-height: 1.03;
}
.navigation-pages__products-btn {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--text-color-dark);
    border: 2px solid var(--button-border-color);
    background-color: transparent;
    border-radius: 8px;
}
@media screen and (max-width: 479px) {
    .header-nav {
        display: none;
    }
    .order-menu-btn {
        display: none;
    }
}
@media screen and (min-width: 480px) {
    
}
@media screen and (min-width: 768px) {
    .header-nav {
        display: none;
    }
    .open-menu-btn {
        margin-left: auto;
        margin-right: 32px;
    }
    .order-menu-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 7px;
        padding: 12px 34px;
        width: 152px;
        background: var(--button-color);
        border-radius: 10px;
        border: none;
    }
    .arrow {
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
       }
    .right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
    .page-header_wrapper {
        margin-bottom: 38px;
    }
}
@media screen and (min-width: 1200px) {
    .header-nav {
        display: flex;
        gap: 27px;
    }
    .order-menu-btn {
        background-color: transparent;
        border: none;
    }
    .page-header_wrapper {
        margin-bottom: 48px;
    }
}