.scroll-btn-up {
  position: relative;
  z-index: 1;
}
.scroll-btn {
  position: fixed;
  z-index: 15;
  bottom: 20px;
  right: 20px;
  height: 35px;
  padding: 5px;
  background-color: var(--modal-input-border);
  border-radius: 50%;
  transition: var(--cubic);
  opacity: 70%;
  display: none;
  &:hover {
    background-color: var(--button-active-border-color);
  }
}
.scroll-btn__svg {
  fill: var(--text-color-light);
}
.scroll-btn.shown {
  display: block;
}
@media screen and (min-width: 768px) {
  .scroll-btn {
    bottom: 30px;
    right: 30px;
    height: 45px;
    padding: 10px;
  }
}
