:root {
  --background-color: #84a178;
  --accent-color: #f8d24e;
  --text-color-light: #fcfcfc;
  --text-color-dark: #131313;
  --button-color: #f8d24e;
  --button-active-color: #0a8817;
  --button-disable-color: #ababab;
  --button-text-color: #000000;
  --button-active-text-color: #fcfcfc;
  --button-border-color: #f8d24e;
  --button-active-border-color: #0a8817;
  --button-disable-border-color: #ababab;
  --icon-fill: #000000;
  --products-background-green: #aec6a5;
  --products-background-yellow: #efd478;
  --products-background-orange: #d6936d;
  --adress-background: #e1e1e1;
  --adress-text-color: #d6936d;
  --adress-time-color: #ababab;
  --footer-copyright-color: #7a7a7a;
  --modal-border-color: #f8d24e;
  --modal-item-green: #96af8c;
  --modal-item-yellow: #efd478;
  --modal-item-orange: #d6936d;
  --modal-input-border: #84a178;
  --modal-background: #fcfcfc;
  --cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
