@import '~node_modules/modern-normalize/modern-normalize.css';

h1,
h2,
h3,
h4,
p {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

ul,
ol {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  list-style: none;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

input {
  padding: 0px;
}

.button {
  cursor: pointer;
}

body {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.04em;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  margin: -1px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.about {
  background-color: var(--background-color);
}

.vis-hidden {
  position: fixed;
  transform: scale(0);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.page-header_container {
  background-color: var(--background-color);
  border: 2px solid red;
  position: relative;
  padding-bottom: 239px;
}

.page-header_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding-top: 15px;
  margin-bottom: 62px;
}

.open-menu-btn {
  background-color: transparent;
  border: none;
}

.hero-box {
  width: 247px;
}

.hero-box__title {
  font-family: "Seymour One";
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--text-color-light);
  font-size: 26px;
  line-height: 1.27;
  margin-bottom: 32px;
}

.hero-box__slogan {
  font-family: "Seymour One";
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--text-color-light);
  font-size: 34px;
  line-height: 0.97;
}

.navigation-pages {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.navigation-pages__link {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 8px 12px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 8px;
  line-height: 0.8;
  color: var(--text-color-dark);
  border: 2px solid var(--button-border-color);
  background-color: transparent;
  border-radius: 8px;
  width: 62px;
  height: 24px;
}

.navigation-pages__link:hover,
.navigation-pages__link:focus {
  border: 2px solid var(--button-active-border-color);
}

.navigation-pages__link:focus {
  color: var(--text-color-light);
}

.navigation-pages__link:disabled {
  border: 2px solid var(--button-disable-border-color);
}

.navigation-pages__link_decor {
  justify-content: flex-start;
  border: none;
  text-decoration: underline;
  width: auto;
  color: var(--accent-color);
}

.navigation-pages__link_decor:hover,
.navigation-pages__link_decor:focus {
  border: none;
  color: var(--button-active-color);
}

.navigation-pages__link_decor:focus {
  border: none;
  color: var(--text-color-light);
}

.navigation-pages__link_decor:disabled {
  border: none;
  color: var(--button-disable-color);
}

.hero-dots {
  position: absolute;
  left: 1px;
  bottom: 1px;
  z-index: 455;
  width: 100%;
  height: 50px;
  background-image: url(../images/mobile/mobile-dots@1x.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

@media screen and (max-width: 479px) {
  .header-nav {
    display: none;
  }

  .order-menu-btn {
    display: none;
  }

  .hero-info {
    display: none;
  }

  .hero-pic-box {
    display: none;
  }

  .hero-pic-aside__ice-cream {
    position: absolute;
    z-index: 470;
    bottom: 10%;
    left: 25%;
    width: 170px;
    height: 219px;
  }
}

@media screen and (min-width: 480px) {
  .header-nav {
    display: none;
  }

  .order-menu-btn {
    display: none;
  }

  .hero-info {
    display: none;
  }

  .hero-pic-box {
    display: none;
  }

  .hero-pic-aside__ice-cream {
    position: absolute;
    z-index: 470;
    bottom: 10%;
    left: 25%;
    width: 170px;
    height: 219px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px),
screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero-dots {
    background-image: url(../images/mobile/mobile-dots@2x.png);
  }
}

@media screen and (min-width: 768px) {
  .page-header_container {
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 193px;
    position: relative;
  }

  .header-nav {
    display: none;
  }

  .open-menu-btn {
    margin-left: auto;
    margin-right: 32px;
  }

  .order-menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    padding: 12px 34px;
    width: 152px;
    height: 42px;
    background: var(--button-color);
    border-radius: 10px;
    border: none;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
    color: var(--text-color-dark);
  }

  .order-menu-btn:hover,
  .order-menu-btn:focus {
    background: var(--button-active-color);
  }

  .order-menu-btn:focus {
    color: var(--text-color-light);
  }

  .order-menu-btn:disabled {
    background: var(--button-disable-color);
  }

  .order-menu-btn:focus .arrow {
    border-right: solid var(--text-color-light);
    border-bottom: solid var(--text-color-light);
  }

  .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }

  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  .page-header_wrapper {
    margin-bottom: 38px;
  }

  .hero-box {
    width: 181px;
  }

  .hero-box__title {
    font-family: "Seymour One";
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--text-color-light);
    font-size: 18px;
    line-height: 1.28;
    margin-bottom: 20px;
  }

  .hero-box__slogan {
    font-family: "Seymour One";
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--text-color-light);
    font-size: 24px;
    line-height: 0.54;
  }

  .hero-info {
    display: flex;
  }

  .hero-container {
    display: flex;
    justify-content: space-between;
  }

  .hero-info__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .hero-info__number {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 34px;
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--text-color-dark);
    margin-bottom: 4px;
  }

  .hero-info__desc {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;
    text-align: right;
    color: var(--text-color-light);
  }

  .hero-pic-box {
    display: flex;
    align-items: center;
    z-index: 460;
    gap: 33px;
    position: absolute;
    left: 32px;
    bottom: 14px;
  }

  .hero-pic-box__desc {
    max-width: 200px;
    margin-bottom: 20px;
    font-family: "Montserrat";
    font-size: 12px;
    line-height: 1.42;
    color: var(--text-color-light);
  }

  .hero-pic-box__text {
    flex-direction: column;
  }

  .hero-pic-aside__ice-cream {
    position: absolute;
    z-index: 470;
    bottom: 13%;
    left: 47%;
    width: 270px;
    height: 343px;
  }

  .hero-dots {
    left: 1px;
    bottom: 1px;
    z-index: 455;
    width: 100%;
    height: 67px;
    background-image: url(../images/tablet/tablet-dots@1x.png);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px),
screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero-dots {
    background-image: url(../images/tablet/tablet-dots@2x.png);
  }
}

@media screen and (min-width: 1200px) {
  .page-header_container {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 332px;
    position: relative;
  }

  .header-nav {
    display: flex;
    gap: 27px;
  }

  .page-header__navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 27px;
  }

  .header-nav__link {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    color: var(--text-color-light);
  }

  .header-nav__link:hover,
  .header-nav__link:focus {
    color: var(--accent-color);
  }

  .page-header_wrapper {
    margin-bottom: 48px;
  }

  .hero-box {
    width: 367px;
    margin-bottom: 28px;
  }

  .hero-box__title {
    font-family: "Seymour One";
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--text-color-light);
    font-size: 38px;
    line-height: 1.26;
  }

  .hero-box__slogan {
    font-family: "Seymour One";
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--text-color-light);
    font-size: 38px;
    line-height: 1.26;
  }

  .logo {
    margin-right: 269px;
  }

  .hero-info {
    display: flex;
  }

  .hero-info__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .hero-info__number {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 900;
    font-size: 46px;
    line-height: 1.22;
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--text-color-dark);
    margin-bottom: 4px;
  }

  .hero-info__desc {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    text-align: right;
    color: var(--text-color-light);
  }

  .navigation-pages {
    gap: 12px;
  }

  .navigation-pages__link {
    font-size: 14px;
    line-height: 1.29;
    width: 134px;
    height: 42px;
  }

  .navigation-pages__link_decor {
    line-height: 1.21;
    width: 154px;
    height: 40px;
  }

  .order-menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    padding: 12px 34px;
    width: 152px;
    height: 42px;
    background: var(--button-color);
    border-radius: 10px;
    border: none;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
    color: var(--text-color-dark);
  }

  .open-menu-btn {
    display: none;
  }

  .hero-pic-box {
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 460;
    gap: 14px;
    left: 17px;
    bottom: 65px;
  }

  .hero-pic-box__desc {
    max-width: 200px;
    margin-top: 40px;
    margin-bottom: 20px;
    font-family: "Montserrat";
    font-size: 14px;
    line-height: 1.43;
    color: var(--text-color-light);
  }

  .hero-pic-box__text {
    flex-direction: column;
    justify-content: center;
  }

  .hero-pic-aside__ice-cream {
    position: absolute;
    z-index: 470;
    bottom: 10%;
    left: 47%;
    width: 484px;
    height: 590px;
  }

  .hero-dots {
    left: 1px;
    bottom: 1px;
    z-index: 455;
    width: 100%;
    height: 384px;
    background-image: url(../images/desktop/desctop-dots@1x.png);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px),
screen and (min-resolution: 192dpi) and (min-width: 1200px),
screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero-dots {
    background-image: url(../images/desktop/desctop-dots@2x.png);
  }
}

.menu-container {
  position: relative;
  padding-left: 40px;
  padding-top: 48px;
  padding-bottom: 48px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: #97af8d;
  overflow: scroll;
  transform: translatex(100%);
  transition: transform var(--cubic);
}

.mobile-menu.is-open {
  transform: translatex(0);
}

.mobile-menu__close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  border: 0;
  padding: 0;
  line-height: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.mobile-menu__close-btn:hover {
  fill: red;
}

.mobile-menu__clouse-btn__icon {
  width: 18px;
  height: 18px;
}

.mobile-menu-nav {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: auto;
}

.mobile-menu-nav__link {
  display: block;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: black;
}

.mobile-menu-nav__link:hover,
.mobile-menu-nav__link:focus {
  color: blue;
}

.mobile-menu-contacts {
  display: flex;
  gap: 32px;
  align-content: center;
  flex-direction: column-reverse;
}

.mobile-menu-contact__mail {
  display: block;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  color: var(--text-color-link);
}

.mobile-menu-contact__mail:hover,
.mobile-menu-contact__mail:focus {
  color: blue;
}

.mobile-menu-contact__tel {
  display: block;
  font-weight: 500;
  font-size: 27px;
  line-height: 1.4814814815;
  letter-spacing: 0.02em;
  color: grey;
  gap: 32px;
}

.mobile-menu-social {
  display: flex;
  margin-top: 64px;
  gap: 20px;
  flex-wrap: wrap;
}

.mobile-menu-social__list:not(:last-child)::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 22px;
  background-color: rgba(33, 33, 33, 0.2);
  margin-left: 10px;
  position: absolute;
}

.mobile-menu-social__list__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  color: var(--text-color-hover);
}

.footer {
  background: var(--background-color);
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 0 32px 0 33px;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 0 16px 0 16px;
  }
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
  }
}

.footer__info {
  margin-left: auto;
}

.footer__text {
  max-width: 282px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  padding-top: 60px;
  margin-bottom: 12px;
  color: var(--text-color-light);
}

@media screen and (min-width: 768px) {
  .about-text {
    font-size: 30px;
    font-weight: 800;
    line-height: 1.23;
  }
}

.about-title {
  font-family: "Seymour One";
  font-weight: 400;
  font-size: 30px;
  line-height: 1.26;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 32px;
  color: var(--text-color-light);
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .about-title {
    letter-spacing: 0.06;
    margin-bottom: 82px;
    font-size: 36px;
    line-height: 1.25;
    width: 454px;
  }
}

.container-flex {
  text-transform: uppercase;
  color: var(--text-color-light);
}

@media screen and (min-width: 768px) {
  .footer__text {
    font-size: 26px;
    line-height: 1.23;
    max-width: 352px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__text {
    font-weight: 400;
    font-size: 30px;
    line-height: 1.23;
    max-width: 504px;
  }
}

.footer__text--size {
  max-width: 200px;
  margin-top: 12px;
  font-size: 34px;
  line-height: 1.2;
}

@media screen and (min-width: 768px) {
  .footer__text--size {
    font-size: 48px;
    line-height: 59px;
    letter-spacing: 0.06em;
    max-width: 340px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__text--size {
    font-size: 58px;
    line-height: 1.22;
    letter-spacing: 0.06em;
    max-width: 504px;
  }
}

.footer__contacts {
  text-align: right;
  margin-bottom: 41px;
}

@media screen and (min-width: 768px) {
  .footer__contacts {
    margin-bottom: 56px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__contacts {
    margin-bottom: 60px;
  }
}

.footer__contacts-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.86;
  color: var(--text-color-dark);
}

@media screen and (min-width: 768px) {
  .footer__contacts-text {
    font-weight: 700;
    font-size: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__contacts-text {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.02em;
  }
}

.footer__contacts-text--tel {
  color: var(--text-color-light);
}

.footer__svg {
  display: flex;
  justify-content: flex-end;
  gap: 28px;
  margin: 43px 0 38px 0;
}

@media screen and (min-width: 768px) {
  .footer__svg {
    margin: 68px 0 32px 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer__svg {
    margin: 10px 0 40px 0;
  }
}

.footer__icon {
  fill: var(--background-color);
  transition: fill var(--cubic);
}

.footer__icon:focus {
  fill: var(--text-color-light);
  transform: scale(1.1);
}

.footer__icon:hover {
  fill: var(--text-color-light);
  transform: scale(0.9);
}

.footer__copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--adress-background);
}

.footer__copyright-text {
  font-family: "Montserrat";
  font-weight: 700;
  color: var(--footer-copyright-color);
  padding-top: 16px;
  padding-bottom: 62px;
  max-width: 170px;
}

@media screen and (min-width: 768px) {
  .footer__copyright-text {
    line-height: 1.86;
    letter-spacing: 0.02em;
    max-width: 298px;
    padding-top: 14px;
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__copyright-text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.86;
    letter-spacing: 0.02em;
  }
}

.text {
  margin-bottom: 54px;
}

.backdrop {
  position: fixed;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: scroll;
  transition: opacity 1000ms ease, visibility 1000ms ease;
  background-color: transparent;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-order {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 28px;
  width: 280px;
  background-color: var(--modal-background);
  border: 2px solid var(--modal-border-color);
  border-radius: 10px;
}

.modal-order__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Seymour One";
}

.modal-order__button-closed {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: transparent;
  border: none;
}

.modal-order__button-icon {
  width: 16px;
  height: 16px;
}

.modal-order__form {

  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .container-flex {
    flex-direction: row;
  }
}

@media screen and (min-width: 1200px) {
  .container-flex {
    justify-content: center;
    align-items: center;
  }
}

.cow {
  position: relative;
  background-color: var(--accent-color);
  width: 278px;
  height: 278px;
  border-radius: 250px;
  margin-bottom: 62px;
}

@media screen and (min-width: 768px) {
  .cow {
    width: 330px;
    height: 330px;
    margin-right: 32px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .cow {
    width: 500px;
    height: 500px;
    margin-right: 100px;
  }
}

.cow-absolute {
  position: absolute;
  top: 22px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .cow-absolute {
    top: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .cow-absolute {
    top: 39px;
    right: 8px;
  }
}

.ice-text {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 12px;
  line-height: 1.75;
  letter-spacing: 0.04em;
  color: var(--text-color-light);
}

@media screen and (min-width: 768px) {
  .ice-text {
    font-size: 14px;
    line-height: 1.9;
  }
}

.ice-item:not(:last-child) {
  padding-bottom: 8px;
}

.ice-list {
  width: 220px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .ice-list {
    width: 334px;
  }
}

@media screen and (min-width: 1200px) {
  .ice-list {
    width: 463px;
  }
}

.ice-btn {
  width: 164px;
  height: 42px;
  font-family: "Montserrat SemiBold";
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  border: 0;
  margin-top: 20px;
  display: flex;
  gap: 5px;
  background-color: var(--button-color);
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .ice-btn {
    margin-top: 48px;
    margin-left: none;
    margin-right: none;
  }
}

.ice-btn:hover {
  background-color: var(--button-active-color);
}

.ice-btn:focus {
  background-color: var(--button-active-color);
  color: var(--button-active-text-color);
}

.ice-btn:default {
  background-color: var(--button-disable-color);
}

.arrow {
  border-right: solid black;
  border-bottom: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.ice-btn:focus .arrow {
  border-right: solid var(--text-color-light);
  border-bottom: solid var(--text-color-light);
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.advantage {
  margin-top: 60px;
}

.advantage-list {
  display: flex;
  gap: 32px;
}

.advantage-title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 58px;
  line-height: 1.22;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
}

.advantage-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.02em;
  text-align: center;
}

.modal-order__checkbox {
  margin-top: 20px;
}

.modal-order__checkbox-thumb {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 20px;
  margin-top: 84px;
  width: 132px;
  height: 135px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  background-color: transparent;
  border-radius: 10px;
}

.modal-order__checkbox-thumb_first {
  border: 2px solid var(--modal-item-green);
}

.modal-order__checkbox-thumb_second {
  border: 2px solid var(--modal-item-yellow);
}

.modal-order__checkbox-thumb_third {
  border: 2px solid var(--modal-item-orange);
}

.modal-order__checkbox-circle {
  position: absolute;
  top: -50%;
  left: -1%;
  display: block;
  width: 131px;
  height: 130px;
  border-radius: 50%;
}

.modal-order__checkbox-circle_first {
  background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #D9D9D9;
  box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
}

.modal-order__checkbox-circle_second {
  background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
  box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
}

.modal-order__checkbox-circle_third {
  background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #D9D9D9;
  box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);
}

.modal-order__custom-checkbox {
  position: absolute;
  bottom: 7px;
  left: 0;
}

.modal-order__check:checked+.modal-order__checkbox-thumb_first {
  background-color: var(--modal-item-green);
}

.modal-order__check:checked+.modal-order__checkbox-thumb_second {
  background-color: var(--modal-item-yellow);
}

.modal-order__check:checked+.modal-order__checkbox-thumb_third {
  background-color: var(--modal-item-orange);
}

.modal-order__inputs {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 24px;
}

.modal-order__field {
  display: inline-flex;
  width: 224px;
}

.modal-order__field_first {
  height: 32px;
}

.modal-order__field_second {
  height: 32px;
}

.modal-order__field_third {
  height: 65px;
}

.modal-order__input {
  width: 100%;
  height: 100%;
  border: 1px solid var(--modal-input-border);
  border-radius: 10px;
  background-color: rgba(248, 210, 78, 0.1);
  padding: 12px 8px;
}

.modal-order__input_third {
  resize: none;
  overflow-x: hidden;
}

.modal-order__input::-moz-placeholder {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 12px;
  line-height: 1.4166666667;
  color: var --text-color-dark;
  transform: translateX(0) scale(1);
  -moz-transition: transform var(--cubic), color var(--cubic);
  transition: transform var(--cubic), color var(--cubic);
}

.modal-order__input:-ms-input-placeholder {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 12px;
  line-height: 1.4166666667;
  color: var --text-color-dark;
  transform: translateX(0) scale(1);
  -ms-transition: transform var(--cubic), color var(--cubic);
  transition: transform var(--cubic), color var(--cubic);
}

.modal-order__input::placeholder {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 12px;
  line-height: 1.4166666667;
  color: var --text-color-dark;
  transform: translateX(0) scale(1);
  transition: transform var(--cubic), color var(--cubic);
}

.modal-order__input:focus {
  outline: none;
}

.modal-order__input:focus::-moz-placeholder {
  color: var(--button-active-color);
  transform: translateX(10%) scale(1.1);
}

.modal-order__input:focus:-ms-input-placeholder {
  color: var(--button-active-color);
  transform: translateX(10%) scale(1.1);
}

.modal-order__input:focus::placeholder {
  color: var(--button-active-color);
  transform: translateX(10%) scale(1.1);
}

.modal-order__button {
  padding: 12px 34px;
  background-color: var(--button-color);
  color: var(--button-text-color);
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2142857143;
  border: none;
  transition: color var(--cubic), background-color var(--cubic);
}

.modal-order__button:hover {
  color: var(--text-color-dark);
  background-color: var(--button-active-color);
}

.modal-order__button:focus {
  color: var(--button-active-text-color);
  background-color: var(--button-active-color);
}

.modal-order__button:disabled {
  color: var(--button-text-color);
  background-color: var(--button-disable-color);
}

@media screen and (min-width: 768px) {
  .modal-order {
    width: 568px;
    padding: 32px;
  }

  .modal-order__chechboxes {
    display: flex;
    gap: 32px;
  }

  .modal-order__inputs {
    margin-top: 40px;
    margin-bottom: 32px;
  }

  .modal-order__field {
    width: 368px;
    gap: 16px;
  }

  .modal-order__field_first {
    height: 42px;
  }

  .modal-order__field_second {
    height: 42px;
  }

  .modal-order__field_third {
    height: 84px;
  }

  .modal-order__input::-moz-placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4285714286;
  }

  .modal-order__input:-ms-input-placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4285714286;
  }

  .modal-order__input::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4285714286;
  }

  .modal-order__button-icon {
    width: 20px;
    height: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .modal-order {
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.modal-ingredients {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 28px;
  padding-bottom: 32px;
  padding-left: 20px;
  padding-right: 20px;
  width: 280px;
  height: 990px;
  background-color: var(--modal-background);
  border: 2px solid var(--modal-border-color);
  border-radius: 10px;
}

.modal-ingredients__title {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  font-family: "Seymour One";
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 142px;
}

.modal-ingredients__button-closed {
  position: absolute;
  top: 28px;
  right: 20px;
  background-color: transparent;
  border: none;
}

.modal-ingredients__button-icon {
  width: 20px;
  height: 20px;
}

.modal-ingredients__circle {
  position: relative;
  margin-top: 29px;
  margin-bottom: 24px;
  width: 131px;
  height: 131px;
  border-radius: 50%;
  border: none;
  background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #D9D9D9;
  box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
}

.modal-ingredients__img {
  position: absolute;
  left: 0;
  bottom: 7px;
}

.modal-ingredients__list {
  display: flex;
  justify-content: space-between;
  gap: 9px;
  width: 100%;
  margin-bottom: 39px;
}

.modal-ingredients__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 53px;
  height: 72px;
  border: 2px solid #9CBE8F;
  border-radius: 40px;
}

.modal-ingredients__value {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -2px;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  background-color: #9CBE8F;
  box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
}

.modal-ingredients__number {
  font-weight: 500;
  font-size: 10px;
  line-height: 2.8;
  color: var(--text-color-dark);
}

.modal-ingredients__units {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: var(--text-color-dark);
}

.modal-ingredients__subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
  color: var(--text-color-dark);
}

.modal-ingredients__table {
  width: 100%;
  margin-top: 24px;
  margin-bottom: 48px;
}

.modal-ingredients__table-row {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.modal-ingredients__table-row:not(:last-child) {
  margin-bottom: 11px;
}

.modal-ingredients__table-product,
.modal-ingredients__table-amount {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7857142857;
  color: var(--text-color-dark);
}

.modal-order__inputs_ingredients {
  margin-top: 0;
  margin-bottom: 32px;
}

.modal-order__field_ingredients {
  width: 240px;
  height: 42px;
}

.modal-order__field_ingredients-comment {
  width: 240px;
  height: 84px;
}

.modal-order__input_ingredients::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4285714286;
}

.modal-order__input_ingredients:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4285714286;
}

.modal-order__input_ingredients::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4285714286;
}

@media screen and (min-width: 768px) {
  .modal-ingredients {
    width: 568px;
    height: 995px;
    padding: 32px 40px;
  }

  .modal-ingredients__title {
    width: 100%;
  }

  .modal-ingredients__circle {
    padding-top: 31px;
    padding-bottom: 25px;
  }

  .modal-ingredients__list {
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin-bottom: 48px;
  }

  .modal-ingredients__item {
    width: 65px;
    height: 90px;
  }

  .modal-ingredients__value {
    width: 53px;
    height: 53px;
  }

  .modal-order__field_ingredients {
    width: 368px;
  }

  .modal-order__field_ingredients-comment {
    width: 368px;
  }
}

@media screen and (min-width: 1200px) {
  .modal-ingredients {
    top: 50px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
  transition: visibility var(--cubic), opacity var(--cubic);
}

.backdrop .is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.read-more-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 280px;
  height: 459px;
  background-color: white;
  border-radius: 10px;
  border: 2px solid var(--button-color);
  transition: fill var(--cubic);
  padding: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.read-more-modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: transparent;
  padding: 0;
  border: none;
}

.read-more-modal__close-btn:hover,
.read-more-modal__close-btn:focus {
  fill: var(--button-color);
}

.read-more-modal__icon {
  width: 16px;
  height: 16px;
}

.read-more-modal__title {
  font-family: "Seymour One";
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color-dark);
  margin-bottom: 20px;
}

.read-more-modal__video {
  margin-bottom: 20px;
  display: flex;
}

.read-more-modal__video iframe {
  width: 224px;
  height: 199px;
  border-radius: 10px;
}

.read-more-modal__desc {
  font-family: "Montserrat";
  font-size: 14px;
  line-height: 1.23;
  color: var(--text-color-dark);
}

@media screen and (min-width: 768px) {
  .read-more-modal {
    width: 568px;
    height: 449px;
    padding: 32px 60px;
  }

  .read-more-modal__icon {
    width: 20px;
    height: 20px;
  }

  .read-more-modal__title {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 32px;
  }

  .read-more-modal__video {
    margin-bottom: 32px;
  }

  .read-more-modal__video iframe {
    width: 448px;
    height: 205px;
    border-radius: 10px;
  }

  .read-more-modal__desc {
    font-size: 15px;
    line-height: 1.4;
  }
}

.backdrop-location {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
  transition: visibility var(--cubic), opacity var(--cubic);
  overflow-y: scroll;
}

.backdrop-location.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.location-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 280px;
  height: 365px;
  background-color: var(--modal-background);
  border-radius: 10px;
  border: 2px solid var(--button-color);
  transition: fill var(--cubic);
  padding: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.location-modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: transparent;
  padding: 0;
  border: none;
}

.location-modal__close-btn:hover,
.location-modal__close-btn:focus {
  fill: var(--button-color);
}

.location-modal__icon {
  width: 16px;
  height: 16px;
}

.location-modal__title {
  font-family: "Seymour One";
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
  color: var(--text-color-dark);
}

.location-modal__map {
  margin-bottom: 24px;
  display: flex;
}

.location-modal__map iframe {
  width: 224px;
  height: 199px;
  border-radius: 10px;
}

.location-modal__open-btn {
  width: 134px;
  height: 42px;
  background: var(--button-color);
  border-radius: 10px;
  border: transparent;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  color: var(--text-color-dark);
  transition: background var(--cubic), color var(--cubic);
}

.location-modal__open-btn:hover {
  background: var(--button-active-color);
}

.location-modal__open-btn:focus {
  background: var(--button-active-color);
  color: var(--modal-background);
}

@media screen and (min-width: 768px) {
  .location-modal {
    width: 568px;
    height: 458px;
    padding: 32px 60px;
  }

  .location-modal__icon {
    width: 20px;
    height: 20px;
  }

  .location-modal__title {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 32px;
  }

  .location-modal__map {
    margin-bottom: 32px;
  }

  .location-modal__map iframe {
    width: 448px;
    height: 260px;
    border-radius: 10px;
  }

  .location-modal__open-btn {
    width: 145px;
    height: 42px;
    font-size: 12px;
    line-height: 1.21;
  }
}

.backdrop-franchise {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
  transition: visibility var(--cubic), opacity var(--cubic);
  overflow-y: scroll;
}

.backdrop-franchise.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.franchise-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 280px;
  height: 674px;
  background-color: var(--modal-background);
  border-radius: 10px;
  border: 2px solid var(--button-color);
  transition: fill var(--cubic);
  padding: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.franchise-modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: transparent;
  padding: 0;
  border: none;
}

.franchise-modal__close-btn:hover,
.franchise-modal__close-btn:focus {
  fill: var(--button-color);
}

.franchise-modal__icon {
  width: 16px;
  height: 16px;
}

.franchise-modal__title {
  font-family: "Seymour One";
  font-size: 14px;
  line-height: 1.5;
  color: var(--text-color-dark);
  margin-bottom: 20px;
}

.franchise-modal__desc {
  font-family: "Montserrat";
  font-size: 14px;
  line-height: 1.4;
  color: var(--text-color-dark);
  margin-bottom: 24px;
}

.franchise-modal-form__fild {
  display: flex;
  margin-bottom: 12px;
  width: 224px;
}

.franchise-modal-form__iput {
  width: 100%;
  height: 32px;
  border-radius: 10px;
  padding-left: 12px;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84A178;
}

.franchise-modal-form__fild-text {
  display: block;
  margin-bottom: 24px;
}

.franchise-modal-form__text {
  display: block;
  width: 100%;
  height: 64px;
  resize: none;
  border-radius: 10px;
  padding-left: 12px;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84A178;
}

.franchise-modal-form__btn {
  display: block;
  margin: 0 auto;
  width: 114px;
  height: 42px;
  background: var(--button-color);
  border-radius: 10px;
  border-color: transparent;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  color: var(--text-color-dark);
  transition: background var(--cubic), color var(--cubic);
}

.franchise-modal-form__btn:hover {
  background: var(--button-active-color);
}

.franchise-modal-form__btn:focus {
  background: var(--button-active-color);
  color: var(--modal-background);
}

@media screen and (min-width: 768px) {
  .franchise-modal {
    width: 568px;
    height: 668px;
    padding: 32px 60px;
  }

  .franchise-modal__icon {
    width: 20px;
    height: 20px;
  }

  .franchise-modal__title {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 24px;
    text-align: center;
  }

  .franchise-modal__desc {
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 32px;
  }

  .franchise-modal-form__fild {
    margin-bottom: 16px;
    width: 368px;
  }

  .franchise-modal-form__iput {
    height: 42px;
  }

  .franchise-modal-form__text {
    height: 84px;
  }

  .franchise-modal-form__fild-text {
    margin-bottom: 32px;
  }

  .franchise-modal-form__btn {
    width: 121px;
    height: 42px;
    font-size: 14px;
    line-height: 1.21;
  }
}

:root {
  --background-color: #84a178;
  --accent-color: #f8d24e;
  --text-color-light: #fcfcfc;
  --text-color-dark: #131313;
  --button-color: #f8d24e;
  --button-active-color: #0a8817;
  --button-disable-color: #ababab;
  --button-text-color: #000000;
  --button-active-text-color: #fcfcfc;
  --button-border-color: #f8d24e;
  --button-active-border-color: #0a8817;
  --button-disable-border-color: #ababab;
  --icon-fill: #000000;
  --products-background-green: #aec6a5;
  --products-background-yellow: #efd478;
  --products-background-orange: #d6936d;
  --adress-background: #e1e1e1;
  --adress-text-color: #d6936d;
  --adress-time-color: #ababab;
  --footer-copyright-color: #7a7a7a;
  --modal-border-color: #f8d24e;
  --modal-item-green: #96af8c;
  --modal-item-yellow: #efd478;
  --modal-item-orange: #d6936d;
  --modal-input-border: #84a178;
  --modal-background: #fcfcfc;
  --bg-cow: #F8D24E 70 %;
  --cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*# sourceMappingURL=index.css.map */