@import '~node_modules/modern-normalize/modern-normalize.css';
h1,
h2,
h3,
h4,
p {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

ul,
ol {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  list-style: none;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

input {
  padding: 0px;
}

.button {
  cursor: pointer;
}

body {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.04em;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.vis-hidden {
  position: fixed;
  transform: scale(0);
}

.products {
  margin-top: 60px;
  margin-bottom: 60px;
  background-color: #ffffff;
}
@media screen and (max-width: 479px) {
  .products {
    background-image: url(../images/Products/Mobile/background_mobile_1_1x.png);
  }
}
@media screen and (max-width: 479px) and (min-device-pixel-ratio: 2), screen and (max-width: 479px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 479px) and (min-resolution: 192dpi), screen and (max-width: 479px) and (min-resolution: 2dppx) {
  .products .products {
    background-image: url(../images/Products/Mobile/background_mobile_1_2x.png);
  }
}
@media screen and (min-width: 480px) {
  .products {
    background-image: url(../images/Products/Tablet/background_tablet_1x.png);
  }
}
@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .products .products {
    background-image: url(../images/Products/Tablet/background_tablet_2x.png);
  }
}
@media screen and (min-width: 1200px) {
  .products {
    background-image: url(../images/Products/Desktop/desktop_bg_1x.png);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .products .products {
    background-image: url(../images/Products/Desktop/desktop_bg_2x.png);
  }
}

.products__container {
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 480px) {
  .products__container .products__container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (min-width: 768px) {
  .products__container .products__container {
    padding-left: 33px;
    padding-right: 31px;
  }
}
@media screen and (min-width: 1200px) {
  .products__container .products__container {
    padding-left: 12.07px;
    padding-right: 13.08px;
  }
}

.section__subtitle {
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  color: var(--text-color-dark);
  margin-bottom: 12px;
}
@media screen and (max-width: 479px) {
  .section__subtitle {
    font-size: 3.75vw;
    line-height: 1.2222222222;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .section__subtitle {
    font-size: 18px;
    line-height: 1.2222222222;
  }
}
@media screen and (min-width: 768px) {
  .section__subtitle {
    font-size: 22px;
    line-height: 1.2272727273;
  }
}
@media screen and (min-width: 1200px) {
  .section__subtitle {
    font-size: 30px;
    line-height: 1.2333333333;
  }
}

.section__title {
  font-family: "Seymour One";
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: var(--text-color-dark);
}
@media screen and (max-width: 479px) {
  .section__title {
    font-size: 6.25vw;
    line-height: 1.2666666667;
    margin-bottom: 148px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .section__title {
    font-size: 30px;
    line-height: 1.2666666667;
    margin-bottom: 148px;
  }
}
@media screen and (min-width: 768px) {
  .section__title {
    font-size: 34px;
    line-height: 1.2647058824;
    margin-bottom: 200px;
  }
}
@media screen and (min-width: 1200px) {
  .section__title {
    font-size: 36px;
    line-height: 1.25;
    letter-spacing: 0.06em;
    margin-bottom: 303.29px;
  }
}

.products__list {
  display: flex;
}
@media screen and (max-width: 479px) {
  .products__list {
    flex-direction: column;
    justify-content: center;
    gap: 34.1666666667vw;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .products__list {
    flex-direction: column;
    justify-content: center;
    gap: 164px;
  }
}
@media screen and (min-width: 768px) {
  .products__list {
    justify-content: center;
    gap: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .products__list {
    justify-content: center;
    gap: 32.19px;
  }
}

.products__item {
  position: relative;
  display: flex;
  flex-direction: column;
  transition: box-shadow var(--cubic);
}
.products__item:nth-child(1) {
  background-color: var(--products-background-green);
}
.products__item:nth-child(2) {
  background-color: var(--products-background-yellow);
}
.products__item:nth-child(3) {
  background-color: var(--products-background-orange);
}
.products__button:focus .products__item:nth-child(3), .products__button:hover .products__item:nth-child(3) {
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
}
@media screen and (max-width: 479px) {
  .products__item {
    min-width: 58.3333333333vw;
    min-height: 420px;
    border-radius: 24px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .products__item {
    min-width: 280px;
    min-height: 420px;
    border-radius: 24px;
  }
}
@media screen and (min-width: 768px) {
  .products__item {
    min-width: 224px;
    min-height: 428px;
    border-radius: 15.7808px;
  }
}
@media screen and (min-width: 1200px) {
  .products__item {
    min-width: 370.16px;
    min-height: 535.51px;
    border-radius: 24px;
  }
}

.products__name {
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: var(--text-color-dark);
}
@media screen and (max-width: 479px) {
  .products__name {
    margin-top: auto;
    font-size: 20px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .products__name {
    margin-top: auto;
    font-size: 20px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 768px) {
  .products__name {
    margin-top: 108px;
    font-size: 22px;
    line-height: 1.2272727273;
  }
}
@media screen and (min-width: 1200px) {
  .products__name {
    margin-top: 166px;
    font-size: 30px;
    line-height: 1.2333333333;
  }
}

.products__description {
  text-align: center;
  font-weight: 400;
  height: auto;
  color: var(--text-color-dark);
  line-height: 1.76;
}
@media screen and (max-width: 479px) {
  .products__description {
    margin: auto;
    width: 200px;
    font-size: 14px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .products__description {
    margin: auto;
    width: 200px;
    font-size: 14px;
  }
}
@media screen and (min-width: 768px) {
  .products__description {
    margin: 40px auto auto auto;
    width: 172px;
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .products__description {
    margin: 65px auto auto auto;
    width: 242px;
    font-size: 16px;
  }
}

.products__button {
  display: flex;
  justify-content: center;
  border: transparent;
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding: 5px;
  min-width: 60px;
  min-height: 20px;
  cursor: pointer;
  align-items: center;
}
.products__button:focus {
  min-width: 64px;
  min-height: 28px;
}
.products__button:hover {
  min-width: 64px;
  min-height: 24px;
}

.products__icon {
  width: 40px;
  height: 15px;
  transition: width var(--cubic), height var(--cubic);
}
.products__button:focus .products__icon {
  width: 50px;
  height: 20px;
}
.products__button:hover .products__icon {
  width: 50px;
}

.footer {
  background: var(--background-color);
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 0 32px 0 33px;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    padding: 0 16px 0 16px;
  }
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
  }
}
.footer__info {
  margin-left: auto;
}

.footer__text {
  max-width: 282px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  text-transform: uppercase;
  color: var(--text-color-light);
}
@media screen and (min-width: 768px) {
  .footer__text {
    font-size: 26px;
    line-height: 1.23;
    max-width: 352px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__text {
    font-weight: 400;
    font-size: 30px;
    line-height: 1.23;
    max-width: 504px;
  }
}

.footer__text--size {
  max-width: 200px;
  margin-top: 12px;
  font-size: 34px;
  line-height: 1.2;
}
@media screen and (min-width: 768px) {
  .footer__text--size {
    font-size: 48px;
    line-height: 59px;
    letter-spacing: 0.06em;
    max-width: 340px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__text--size {
    font-size: 58px;
    line-height: 1.22;
    letter-spacing: 0.06em;
    max-width: 504px;
  }
}

.footer__contacts {
  text-align: right;
  margin-bottom: 41px;
}
@media screen and (min-width: 768px) {
  .footer__contacts {
    margin-bottom: 56px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__contacts {
    margin-bottom: 60px;
  }
}

.footer__contacts-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.86;
  color: var(--text-color-dark);
}
@media screen and (min-width: 768px) {
  .footer__contacts-text {
    font-weight: 700;
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__contacts-text {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.02em;
  }
}

.footer__contacts-text--tel {
  color: var(--text-color-light);
}

.footer__svg {
  display: flex;
  justify-content: flex-end;
  gap: 28px;
  margin: 43px 0 38px 0;
}
@media screen and (min-width: 768px) {
  .footer__svg {
    margin: 68px 0 32px 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer__svg {
    margin: 10px 0 40px 0;
  }
}

.footer__icon {
  fill: var(--background-color);
  transition: fill var(--cubic);
}
.footer__icon:focus {
  fill: var(--text-color-light);
  transform: scale(1.1);
}
.footer__icon:hover {
  fill: var(--text-color-light);
  transform: scale(0.9);
}

.footer__copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--adress-background);
}

.footer__copyright-text {
  font-family: "Montserrat";
  font-weight: 700;
  color: var(--footer-copyright-color);
  padding-top: 16px;
  padding-bottom: 62px;
  max-width: 170px;
}
@media screen and (min-width: 768px) {
  .footer__copyright-text {
    line-height: 1.86;
    letter-spacing: 0.02em;
    max-width: 298px;
    padding-top: 14px;
    padding-bottom: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__copyright-text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.86;
    letter-spacing: 0.02em;
  }
}

.text {
  margin-bottom: 54px;
}

:root {
  --background-color: #84a178;
  --accent-color: #f8d24e;
  --text-color-light: #fcfcfc;
  --text-color-dark: #131313;
  --button-color: #f8d24e;
  --button-active-color: #0a8817;
  --button-disable-color: #ababab;
  --button-text-color: #000000;
  --button-active-text-color: #fcfcfc;
  --button-border-color: #f8d24e;
  --button-active-border-color: #0a8817;
  --button-disable-border-color: #ababab;
  --icon-fill: #000000;
  --products-background-green: #aec6a5;
  --products-background-yellow: #efd478;
  --products-background-orange: #d6936d;
  --adress-background: #e1e1e1;
  --adress-text-color: #d6936d;
  --adress-time-color: #ababab;
  --footer-copyright-color: #7a7a7a;
  --modal-border-color: #f8d24e;
  --modal-item-green: #96af8c;
  --modal-item-yellow: #efd478;
  --modal-item-orange: #d6936d;
  --modal-input-border: #84a178;
  --modal-background: #fcfcfc;
  --cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}/*# sourceMappingURL=index.css.map */