@import '~node_modules/modern-normalize/modern-normalize.css';
h1,
h2,
h3,
h4,
p {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

ul,
ol {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  list-style: none;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

input {
  padding: 0px;
}

.button {
  cursor: pointer;
}

body {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.04em;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.footer {
  background: #84A178;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 0 32px 0 33px;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    padding: 0 16px 0 16px;
  }
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
  }
}
.footer__info {
  margin-left: auto;
}

.footer__text {
  max-width: 282px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  text-transform: uppercase;
  color: var(--text-color-light);
}
@media screen and (min-width: 768px) {
  .footer__text {
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.04em;
    max-width: 352px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__text {
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 0.04em;
    max-width: 504px;
  }
}

.footer__text--size {
  max-width: 200px;
  margin-top: 12px;
  font-size: 34px;
  line-height: 1.2;
  letter-spacing: 0.04em;
}
@media screen and (min-width: 768px) {
  .footer__text--size {
    font-size: 48px;
    line-height: 59px;
    letter-spacing: 0.06em;
    max-width: 340px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__text--size {
    font-size: 58px;
    line-height: 71px;
    letter-spacing: 0.06em;
    max-width: 504px;
  }
}

.footer__contacts {
  text-align: right;
  margin-bottom: 41px;
}
@media screen and (min-width: 768px) {
  .footer__contacts {
    margin-bottom: 56px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__contacts {
    margin-bottom: 60px;
  }
}

.footer__contacts-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 186%;
  color: #131313;
}
@media screen and (min-width: 768px) {
  .footer__contacts-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 186%;
  }
}
@media screen and (min-width: 1200px) {
  .footer__contacts-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 186%;
    letter-spacing: 0.02em;
  }
}

.footer__contacts-text--tel {
  color: #FCFCFC;
}

.footer__svg {
  display: flex;
  justify-content: flex-end;
  gap: 28px;
  margin: 43px 0 38px 0;
}
@media screen and (min-width: 768px) {
  .footer__svg {
    margin: 68px 0 32px 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer__svg {
    margin: 10px 0 40px 0;
  }
}

.footer__icon {
  fill: #84A178;
  transition: fill var(--cubic);
}

.footer__icon:hover,
.footer__icon:focus {
  fill: #FCFCFC;
}

.footer__copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #e1e1e1;
}

.footer__copyright-text {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 14px;
  color: #7A7A7A;
  padding-top: 16px;
  padding-bottom: 62px;
  max-width: 170px;
}
@media screen and (min-width: 768px) {
  .footer__copyright-text {
    line-height: 186%;
    letter-spacing: 0.02em;
    max-width: 298px;
    padding-top: 14px;
    padding-bottom: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__copyright-text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 186%;
    letter-spacing: 0.02em;
  }
}

.text {
  margin-bottom: 54px;
}

:root {
  --background-color: #84a178;
  --accent-color: #f8d24e;
  --text-color-light: #fcfcfc;
  --text-color-dark: #131313;
  --button-color: #f8d24e;
  --button-active-color: #0a8817;
  --button-disable-color: #ababab;
  --button-text-color: #000000;
  --button-active-text-color: #fcfcfc;
  --button-border-color: #f8d24e;
  --button-active-border-color: #0a8817;
  --button-disable-border-color: #ababab;
  --icon-fill: #000000;
  --products-background-green: #aec6a5;
  --products-background-yellow: #efd478;
  --products-background-orange: #d6936d;
  --adress-background: #e1e1e1;
  --adress-text-color: #d6936d;
  --adress-time-color: #ababab;
  --footer-copyright-color: #7a7a7a;
  --modal-border-color: #f8d24e;
  --modal-item-green: #96af8c;
  --modal-item-yellow: #efd478;
  --modal-item-orange: #d6936d;
  --modal-input-border: #84a178;
  --cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}/*# sourceMappingURL=index.css.map */