<section class="about">
  <div class="container">
    <div class="container-top">
      <p class="about-text" id="about">tradition and love</p>
      <h2 class="about-title">how it’s made?</h2>
      <div class="container-flex">
        <div class="cow">
          <picture>
            <source
              srcset="
                /src/images/desktop/about1x.png 1x,
                /src/images/desktop/about2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                /src/images/tablet/about-tab-1x.png 1x,
                /src/images/tablet/about-tab-1x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /src/images/mobile/about-mob-1x.png 1x,
                /src/images/mobile/about-mob-2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="/src/images/desktop/about.png"
              alt="cow"
              class="cow-absolute"
            />
          </picture>
        </div>
        <div class="ice">
          <ul class="ice-list list">
            <li class="ice-item">
              <p class="ice-text">
                Ice is a place where you will become not only a little happier,
                but also healthier. Health is the main value for us, and we
                follow it when creating our handmade desserts.
              </p>
            </li>
            <li class="ice-item">
              <p class="ice-text">
                We use traditional recipes and 100% natural ingredients. Our
                products are so natural that they can be given to children from
                the age of three years. Sweets lovers can expect 55 types of ice
                cream, 15 types of coffee and 23 milkshakes.
              </p>
            </li>
            <li class="ice-item">
              <p class="ice-text">
                This is enough to choose ice cream and coffee for any mood!
              </p>
            </li>
          </ul>
          <button type="button" class="ice-btn" data-modal-open-2>
            Read more<i class="arrow right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
