<section class="contacts container">
  <h2 class="visually-hidden">Contacts</h2>
  <ul class="contacts__list">
    <li class="contacts__item">
      <div class="contacts__title">
        <p class="contacts__text">Cafe</p>
      </div>
      <ul class="contacts-nav">
        <li class="contacts-nav__item">
          <p class="contacts-nav__text">Chicago</p>
          <a
            class="contacts-nav__href"
            href="https://goo.gl/maps/Sth1aMpD8oXxpkL47"
            target="_blank"
            rel="noopener noreferrer nofollow"
            >10340 Ridgeland Ave,<br />
            Chicago Ridge, IL 60415, USA</a
          >
        </li>
        <li class="contacts-nav__item">
          <p class="contacts-nav__day">Monday - Friday</p>
          <time class="contacts-nav__time">06:00 AM - 10:00 PM</time>
          <p class="contacts-nav__day">Saturday - Sunday</p>
          <time class="contacts-nav__time">08:00 AM - 16:00 PM</time>
        </li>
        <li class="contacts-nav__item">
          <address>
            <a class="contacts-nav__address" href="tel:+610383766284"
              >+61(0) 383 766 284
            </a>
            <a class="contacts-nav__address" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </address>
        </li>
      </ul>
    </li>
    <li class="contacts__item">
      <div class="contacts__title">
        <p class="contacts__text">Foodtruck</p>
      </div>
      <ul class="contacts-nav">
        <li class="contacts-nav__item">
          <p class="contacts-nav__text">Los Angeles</p>
          <a
            class="contacts-nav__href"
            href="https://goo.gl/maps/fPzrwQVAtRVpJyjR9"
            target="_blank"
            rel="noopener noreferrer nofollow"
            >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
          >
        </li>
        <li class="contacts-nav__item">
          <p class="contacts-nav__day">Monday - Friday</p>
          <time class="contacts-nav__time">06:00 AM - 10:00 PM</time>
          <p class="contacts-nav__day">Saturday - Sunday</p>
          <time class="contacts-nav__time">08:00 AM - 16:00 PM</time>
        </li>
        <li class="contacts-nav__item">
          <address>
            <a class="contacts-nav__address" href="tel:+610383766284"
              >+61(0) 383 766 284
            </a>
            <a class="contacts-nav__address" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </address>
        </li>
      </ul>
    </li>
    <li class="contacts__item">
      <div class="contacts__title">
        <p class="contacts__text">Cafe</p>
      </div>
      <ul class="contacts-nav">
        <li class="contacts-nav__item">
          <p class="contacts-nav__text">New York</p>
          <a
            class="contacts-nav__href"
            href="https://goo.gl/maps/B7FTvTEKofCjR2sY8"
            target="_blank"
            rel="noopener noreferrer nofollow"
            >726 Sterling Pl, Brooklyn,<br />
            NY 11222, USA</a
          >
        </li>
        <li class="contacts-nav__item">
          <p class="contacts-nav__day">Monday - Friday</p>
          <time class="contacts-nav__time">06:00 AM - 10:00 PM</time>
          <p class="contacts-nav__day">Saturday - Sunday</p>
          <time class="contacts-nav__time">08:00 AM - 16:00 PM</time>
        </li>
        <li class="contacts-nav__item">
          <address>
            <a class="contacts-nav__address" href="tel:+610383766284"
              >+61(0) 383 766 284
            </a>
            <a class="contacts-nav__address" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </address>
        </li>
      </ul>
    </li>
  </ul>
  <div class="contacts-button">
    <button class="contacts-button__first" type="button">Our Locations</button>
    <button class="contacts-button__second" type="button">Franchise</button>
  </div>
</section>
