<section class="cr-section">
    <div class="container">
        <h2 class="visually-hidden">Reviews</h2>
        <!-- First review -->
        <ul class="slick__list one-time list">
            <li class="slick__item">
                <div class="cr-wrapper">
                    <picture>
                        <source srcset="
                ./images/mobile/customer1@1x.jpg 1x,
                ./images/mobile/customer1@2x.jpg 2x
              " @media="(max-width:767px)" />

                        <source srcset="
                ./images/tablet/customer1@1x.jpg 1x,
                ./images/tablet/customer1@2x.jpg 2x
              " @media="(min-width:1200px)" />

                        <source srcset="
                ./images/desktop/customer1@1x.jpg 1x,
                ./images/desktop/customer1@2x.jpg 2x
              " @media="(min-width:768px)" />

                        <img class="cr__image" src="./images/mobile/customer1@1x.jpg" alt="customer Emily" />
                    </picture>

                    <p class="cr-text">
                        I love visiting your cafe. You prepare the most delicious ice cream
                        in Los Angeles! In addition, you have beautiful serving, cozy
                        atmosphere and polite staff.
                    </p>

                    <p class="cr-name">Emily, Los Angeles</p>
                </div>
            </li>

            <!-- Second review -->
            <li class="slick__item">
                <div class="cr-wrapper">
                    <picture>
                        <source srcset="
                ./images/desktop/customer2@1x.jpg 1x,
                ./images/desktop/customer2@2x.jpg 2x
              " />

                        <img class="cr__image" src="./images/desktop/customer2@1x.jpg" alt="customer Sam" />
                    </picture>

                    <p class="cr-text">
                        I love eating popsicles on a hot day. Yours is always delicious. I
                        recommend your cafe to everyone I know.
                    </p>

                    <p class="cr-name">Sam, Los Angeles</p>
                </div>
            </li>
            <!-- Third review -->
            <li class="slick__item">
                <div class="cr-wrapper">
                    <picture>
                        <source srcset="
                ./images/desktop/customer3@1x.jpg 1x,
                ./images/desktop/customer3@2x.jpg 2x
              " />

                        <img class="cr__image" src="./images/desktop/customer3@1x.jpg" alt="customer Diana" />
                    </picture>

                    <p class="cr-text">
                        Ice cream is my passion! I love your chocolate hazelnut ice cream!
                        And I really like the excellent service - always served politely and
                        quickly!
                    </p>

                    <p class="cr-name">Diana, Chicago</p>
                </div>
            </li>
            <!-- Fourth review -->
            <li class="slick__item">
                <div class="cr-wrapper">
                    <picture>
                        <source srcset="
                ./images/desktop/customer4@1x.jpg 1x,
                ./images/desktop/customer4@2x.jpg 2x
              " />

                        <img class="cr__image" src="./images/desktop/customer4@1x.jpg" alt="customer Bryan" />
                    </picture>

                    <p class="cr-text">
                        Every day we come to you with friends after classes in college. We
                        love your ice cream and casual atmosphere!
                    </p>

                    <p class="cr-name">Bryan, New-York</p>
                </div>
            </li>
        </ul>
    </div>
</section>