<!-- <section class="cr-section">
    <div class="container">
        <h2 class="visually-hidden">Reviews</h2>
       
        <ul class="slick__list one-ttime list">
            <li class="slick__item">
                <div class="cr-wrapper">
                    <picture>
                        <source srcset="
                ./images/mobile/customer1@1x.jpg 1x,
                ./images/mobile/customer1@2x.jpg 2x
              " @media="(max-width:767px)" />

                        <source srcset="
                ./images/tablet/customer1@1x.jpg 1x,
                ./images/tablet/customer1@2x.jpg 2x
              " @media="(min-width:1200px)" /> -->