<footer class="footer">
  <div class="footer__container container">
    <div class="text">
      <p class="footer__text">homemade ice cream made</p>
      <p class="footer__text footer__text--size">with passion</p>
      
    </div>
    <div class="footer__info">
      <ul class="footer__svg">
        <li>
          <a href="https://github.com/" target="_blank">
          <svg aria-label="icon-Git"class="footer__icon" width="34" height="34">
            <use href="./images/sprite.svg#icon-Git"></use>
          </svg>
           </a>
        </li>
        <li>
          <a href="https://telegram.org/" target="_blank">
          <svg aria-label="icon-Telegram"class="footer__icon" width="34" height="34">
            <use href="./images/sprite.svg#icon-telegram"></use>
          </svg>
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/" target="_blank">
         <svg aria-label="icon-Facebook"class="footer__icon" width="34" height="34">
            <use href="./images/sprite.svg#icon-Fb"></use>
          </svg>
          </a>
        </li>
      </ul>
      <div class="footer__contacts">
<span class="footer__contacts-text">Feel free to contact</span>
      <a href="tel:+61(0)383766284" class="footer__contacts-text footer__contacts-text--tel"> +61 (0) 383 766 284</a>
      </div>
    </div>
  </div>
  <div class="footer__copyright">
    <p class="footer__copyright-text">&#169; 2022 - IceCream. All Rights Reserved.</p>
  </div>
</footer>
