<div class="backdrop-franchise is-hidden" data-modal-4>
  <div class="franchise-modal">
    <button type="button" class="franchise-modal__close-btn" data-modal-close-4>
      <svg class="franchise-modal__icon">
        <use href="./images/sprite.svg#icon-close_black"></use>
      </svg>
    </button>
    <p class="franchise-modal__title">
      Thank you for your interest in owning an Ice Cream shop
    </p>
    <p class="franchise-modal__desc">
      Due to the overwhelming volume of franchise requests we are not accepting new franchisee
      applications at this time. Once the application process resumes, we will contact you for
      further information. Please fill out the contact information below and we will reach out for
      additional information. We appreciate your patience.
    </p>
    <form class="franchise-modal-form">
      <label class="franchise-modal-form__fild"
        ><input
          type="text"
          class="franchise-modal-form__iput"
          name="user-name"
          placeholder="Name"
          pattern="[a-zA-Zа-яА-ЯіІїЇ]+"
          required
      /></label>
      <label class="franchise-modal-form__fild"
        ><input
          type="tel"
          class="franchise-modal-form__iput"
          name="user-phone"
          placeholder="Phone"
          pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
          title="xxx-xxx-xx-xx"
          required
      /></label>
      <label class="franchise-modal-form__fild"
        ><input
          type="email"
          class="franchise-modal-form__iput"
          name="user-email"
          placeholder="Email"
          required
      /></label>
      <label class="franchise-modal-form__fild-text">
        <textarea
          name="user-massege"
          class="franchise-modal-form__text"
          placeholder="Comment"
        ></textarea>
      </label>
      <button type="submit" class="franchise-modal-form__btn">Submit</button>
    </form>
  </div>
</div>
