<section class="gallery-section" id="gallery" >
    <div class="container">
        <h2 class="visually-hidden"> Gallery</h2>
 <ul class="gallery__list gallery">
    <li class=" gallery__item" >
        <a href="./images/desktop/gallery1@1x.jpg" class="gallery__link"> 
            
                <img
                class=" gallery__image"
                src="./images/desktop/gallery1@1x.jpg"
                alt=" colorful ice cream with blueberry"
             
              /> 
        </a>  </li>
    <li> 
        <a href="./images/desktop/gallery2@1x.png" class="gallery__link">
                <img
                class="gallery__image"
                src="./images/desktop/gallery2@1x.png"
                alt="  ice cream with strawberry"
                
              /> 
        </a>   
     </li>
    <li>
        
        <a href="./images/desktop/gallery3@1x.jpg" class="gallery__link">
            <img
            class="gallery__image"
            src="./images/desktop/gallery3@1x.jpg"
            alt=" colorful ice cream "
          
          /> 
    </a>   
    </li>
 </ul>   
 
    </div>
    
</section>