<section class="slick" id="gallery" >
    <div class="container  gallery-container ">
        <h2 class="visually-hidden"> Gallery</h2>

  
        <ul class="slick__list one-time list">
            <li class="slick__item">
              <div class="slick__box"> 
                <picture>
                  
                   <source  srcset="./images/desktop/gallery1@1x.jpg, ./images/desktop/gallery1@2x.jpg 2x" 
                   media="(min-width:1200px)"
                   />
                
                
            
                 <source  srcset="./images/mobile/gallery1@1x.jpg, ./images/mobile/gallery1@2x.jpg 2x" 
                 media="(max-width:767px)"
                 />
                 
                 <img class="slick__img" src="./images/desktop/gallery1@1x.jpg" alt="">
                  </picture>
                </div>
            </li>
            <li class="slick__item">
              <div class="slick__box">
                <picture>
                  
                    <source  srcset="./images/desktop/gallery2@1x.png, ./images/desktop/gallery2@2x.png 2x" 
                    media="(min-width:1200px)"
                    />
                 
                  
            
                  <source  srcset="./images/mobile/gallery2@1x.jpg" 
                  media="(max-width:767px)"
                  /> 

                  <img  class="slick__img" src="#" alt="">
                   </picture>


              
            </div>
            </li>
            <li class="slick__item">
              <div class="slick__box">
                <picture>
                  
                    <source  srcset="./images/desktop/gallery3@1x.jpg, ./images/desktop/gallery3@2x.jpg 2x" 
                    media="(min-width:1200px)"
                    />
                 
               
             
                  <source  srcset="./images/mobile/gallery3@1x.jpg" 
                  media="(max-width:767px)"
                  />
                  <img  class="slick__img" src="#" alt="">
                   </picture>


            </div>
            </li>
         
            </li>
          </ul>  
            
        
        
    </div>
    
</section>