<section class="gallery-section" id="gallery">
   <div class="container">
      <h2 class="visually-hidden"> Gallery</h2>


      <div class="swiper">
         <div class="swiper-wrapper">
            <div class="swiper-slide">
               <picture>
                  <source srcset="./images/desktop/gallery1@1x.jpg, ./images/desktop/gallery1@2x.jpg 2x"
                     media="(min-width:1200px)" />

                  <source srcset="./images/desktop/gallery1@1x.jpg, ./images/tablet/gallery1@2x.jpg 2x"
                     media="(min-width:768px)" />

                  <source srcset="./images/mobile/gallery1@1x.jpg, ./images/mobile/gallery1@2x.jpg 2x"
                     media="(max-width:767px)" />

                  <img class="gallery-section__img" src="./images/desktop/gallery1@1x.jpg" alt="">
               </picture>
            </div>
         </div>
         <!-- <div class="swiper-button-prev green"></div>
         <div class="swiper-button-next green"></div>
         <div class="swiper-pagination"></div> -->
      </div>



   </div>
</section>