<section class="gallery-section" id="gallery">
  <div class="container gallery">
    <h2 class="visually-hidden">Gallery</h2>

    <div class="slideshow">
      <div class="slideshow-item">
        <picture>
          <source srcset="
              ./images/desktop/gallery1@1x.jpg,
              ./images/desktop/gallery1@2x.jpg 2x
            " media="(min-width:1200px)" />
          <source srcset="
              ./images/tablet/gallery1@1x.jpg,
              ./images/tablet/gallery1@2x.jpg 2x
            " media="(min-width:768px)" />

          <source srcset="
              ./images/mobile/gallery1@1x.jpg,
              ./images/mobile/gallery1@2x.jpg 2x
            " media="(max-width:767px)" />

          <img class="slideshow-item__img" src="./images/desktop/gallery1@1x.jpg" alt="  
                  ice cream with berries" />
        </picture>
      </div>
      <div class="slideshow-item">
        <picture>
          <source srcset="
              ./images/desktop/gallery2@1x.jpg,
              ./images/desktop/gallery2@2x.jpg 2x
            " media="(min-width:1200px)" />
          <source srcset="
              ./images/tablet/gallery2@1x.jpg,
              ./images/tablet/gallery2@2x.jpg 2x
            " media="(min-width:768px)" />

          <source srcset="./images/mobile/gallery2@1x.jpg" media="(max-width:767px)" />

          <img class="slideshow-item__img" src="#" alt=" 
              ice cream with sprinkles " />
        </picture>
      </div>

      <div class="slideshow-item">
        <picture>
          <source srcset="
              ./images/desktop/gallery3@1x.jpg,
              ./images/desktop/gallery3@2x.jpg 2x
            " media="(min-width:1200px)" />
          <source srcset="
              ./images/tablet/gallery3@1x.jpg,
              ./images/tablet/gallery3@2x.jpg 2x
            " media="(min-width:768px)" />

          <source srcset="./images/mobile/gallery3@1x.jpg" media="(max-width:767px)" />

          <img class="slideshow-item__img" src="#" alt=" 
                ice cream with strawberries" />
        </picture>
      </div>
    </div>
  </div>
</section>