<header class="page-header">
  <div class="container page-header_container">
    <div class="page-header_wrapper">
      <nav class="page-header__navigation">
        <a class="logo" href="./index.html">
          <picture class="logo__pictures">
            <source srcset="./images/desktop/desktop-logo@1x.png 1x,
                                        ./images/desktop/desktop-logo@2x.png 2x" media="(min-width: 1200px)" />
            <source srcset="./images/tablet/tablet-logo@1x.png 1x,
                                        ./images/tablet/tablet-logo@2x.png 2x" media="(min-width: 768px)" />
            <source srcset="./images/mobile/mobile-logo@1x.png 1x,
                                        ./images/mobile/mobile-logo@2x.png 2x" media="(max-width: 767px)" />
            <img aria-label="logo" src="./images/mobile/mobile-logo@1x.png" />
          </picture>
        </a>
        <ul class="header-nav">
          <li class="header-nav__item"><a href="./index.html" class="header-nav__link">Home</a></li>
          <li class="header-nav__item"><a href="#about" class="header-nav__link">How it's made?</a></li>
          <li class="header-nav__item"><a href="#products" class="header-nav__link">Our products</a></li>
          <li class="header-nav__item"><a href="#contacts" class="header-nav__link">Contacts</a></li>
        </ul>
      </nav>
      <button class="open-menu-btn js-open-menu" type="button">
        <svg aria-label="burger-icon" class="open-menu-btn__icon" width="32" height="32">
          <use href="./images/sprite.svg#icon-burger"></use>
        </svg>
      </button>
      <button class="order-menu-btn" type="button" data-modal-open>Buy now<i class="arrow right"></i></button>
    </div>
    <div class="hero-container">
      <div class="hero-box">
        <h1 class="hero-box__title">Ice cream made with
          <span class="hero-box__slogan">passion</span>
        </h1>
        <ul class="navigation-pages">
          <li class="navigation-pages__item">
            <a href="#products" class="navigation-pages__link">Products</a>
          </li>
          <li class="navigation-pages__item">
            <a href="#about" class="navigation-pages__link navigation-pages__link_decor">How it's made?</a>
          </li>
        </ul>
      </div>
      <div class="hero-info">
        <ul class="hero-info__list">
          <li class="hero-info__item">
            <h2 class="hero-info__number">16</h2>
            <p class="hero-info__desc">cafes</p>
          </li>
          <li class="hero-info__item">
            <h2 class="hero-info__number">23</h2>
            <p class="hero-info__desc">food trucks</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="hero-pic-box">
      <picture class="hero-pic-box__pictures">
        <source srcset="./images/desktop/desctop-ice-cream-on-plate@1x.png 1x,
                                ./images/desktop/desctop-ice-cream-on-plate@2x.png 2x" media="(min-width: 1200px)" />
        <source srcset="./images/tablet/tablet-ice-cream-on-plate@1x.png 1x,
                                ./images/tablet/tablet-ice-cream-on-plate@2x.png 2x" media="(min-width: 768px)" />
        <img aria-label="ice-cream-on-plate" src="./images/desktop/desctop-ice-cream-on-plate@1x.png" />
      </picture>
      <div class="hero-pic-box__text">
        <p class="hero-pic-box__desc">Lorem ipsum dolor sit amet,
          consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <svg aria-label="arrow-icon" class="hero-pic-box__arrow-icon" width="40" height="15">
          <use href="./images/sprite.svg#icon-arrow-hero"></use>
        </svg>
      </div>
    </div>
    <div class="hero-pic-aside">
      <picture class="hero-pic-aside__ice-cream">
        <source srcset="./images/desktop/desctop-ice-cream-in-horn@1x.png 1x,
                                ./images/desktop/desctop-ice-cream-in-horn@2x.png 2x" media="(min-width: 1200px)"
          class="hero-pic-aside__ice-cream-desktop" />
        <source srcset="./images/tablet/tablet-ice-cream-in-horn@1x.png 1x,
                                ./images/tablet/tablet-ice-cream-in-horn@2x.png 2x" media="(min-width: 768px)"
          class="hero-pic-aside__ice-cream-tablet" />
        <source srcset="./images/mobile/mobile-ice-cream-in-horn@1x.png 1x,
                                ./images/mobile/mobile-ice-cream-in-horn@2x.png 2x" media="(max-width: 767px)"
          class="hero-pic-aside__ice-cream-mobile" />
        <img aria-label="ice-cream-in-horn" src="./images/mobile/mobile-ice-cream-in-horn@1x.png" />
      </picture>
    </div>
    <div class="hero-dots">
      <picture class="hero-dots__pic">
        <source srcset="./images/desktop/desctop-dots@1x.png 1x,
                                ./images/desktop/desctop-dots@2x.png 2x" media="(min-width: 1200px)"
          class="hero-dots__pic-desctop" />
        <source srcset="./images/tablet/tablet-dots@1x.png 1x,
                                ./images/tablet/tablet-dots@2x.png 2x" media="(min-width: 768px)"
          class="hero-dots__pic-tablet" />
        <source srcset="./images/mobile/mobile-dots@1x.png 1x,
                                ./images/mobile/mobile-dots@2x.png 2x" media="(max-width: 767px)"
          class="hero-dots__pic-mobile" />
        <img aria-label="dots" src="./images/mobile/mobile-dots@1x.png" width="1200" height="384"
          class="hero-dots__pic-img" />
      </picture>
    </div>
  </div>
</header>