<header class="page-header">
    <div class="container page-header_container">
      <div class="page-header_wrapper">
        <nav class="page-header__navigation">
            <a class="logo" href="./index.html">
              <img src="./images/sprite.svg#icon-logo" alt="logo">
            </a>
            
            <ul class="header-nav">
                <li class="header-nav__item"><a class="header-nav__link" href="./index.html">Home</a></li>
                <li class="header-nav__item"><a class="header-nav__link" href="#about">How it’s made?</a></li>
                <li class="header-nav__item"><a class="header-nav__link" href="">Our products</a></li>
                <li class="header-nav__item"><a class="header-nav__link" href="">Contact</a></li>
            </ul>
          </nav>
            <button class="open-menu-btn">
                <svg aria-label="burger-icon" class="open-menu-btn_icon" width="32" height="32">
                    <use href="./images/sprite.svg#icon-burger"></use>
                </svg>
            </button>
            <button class="order-menu-btn">Buy now <i class="arrow right"></i></button>
      </div>
          
          <div class="navigation-pages">
            <h1 class="hero-title">Ice cream<br> made with<br><span class="hero-title_slogan">passion</span></h1>
            <button class="navigation-pages__products-btn" type="button">
                <a href="#products" class="navigation-pages__products-btn-link">Products</a>
            </button>
            <a href="#about" class="navigation-pages__about-link">How it's made?</a>
          </div>
          <div class="hero-info">
            <ul class="hero-info__list">
                <li class="hero-info__item">
                    <h2 class="hero-info__number">16</h2>
                    <p class="hero-info__desc">cafes</p>
                </li>
                <li class="hero-info__item">
                    <h2 class="hero-info__number">23</h2>
                    <p class="hero-info__desc">food trucks</p>
                </li>
            </ul>
          </div>
          <div>
            <p class="hero-text">Lorem ipsum dolor sit amet, 
                consectetur adipiscing elit, sed do eiusmod tempor 
                incididunt ut labore et
            </p>
            <svg aria-label="icon-arrow" class="" width="40">
                 <use href=""></use>
            </svg>
          </div>
    </div>
</header>