<div class="mobile-menu js-menu-container">
    <div class="container menu-container">
        <button class="mobile-menu__close-btn js-close-menu">
            <svg class="mobile-menu__clouse-btn__icon">
                <use href="./images/sprite.svg#icon-close_black"></use>
            </svg>
        </button>
        <ul class="list mobile-menu-nav">
            <li>
                <a class="link mobile-menu-nav__link current" href="./index.html">Студія</a>
            </li>
            <li>
                <a class="link mobile-menu-nav__link" href="№" target="_self">Портфоліо</a>
            </li>
            <li>
                <a class="link mobile-menu-nav__link" href="#contacts">Контакти</a>
            </li>
        </ul>
        <ul class="list mobile-menu-contacts">
            <li><a class="link mobile-menu-contact__mail" href="mailto:info@devstudio.com">info@devstudio.com</a></li>
            <li><a class="link mobile-menu-contact__tel" href="tel:+380961111111">+38 096 111 11 11</a></li>
        </ul>
        <ul class="list mobile-menu-social">
            <li class="mobile-menu-social__list">
                <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer nofollow"
                    class="link mobile-menu-social__list__link">
                    Instagram</a>
            </li>
            <li class="mobile-menu-social__list">
                <a href="https://twitter.com/" target="_blank" rel="noopener noreferrer nofollow"
                    class="link mobile-menu-social__list__link">
                    Twitter</a>
            </li>
            <li class="mobile-menu-social__list">
                <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer nofollow"
                    class="link mobile-menu-social__list__link">
                    Facebook</a>
            </li>
            <li class="mobile-menu-social__list">
                <a href="https://www.linkedin.com/feed/" target="_blank" rel="noopener noreferrer nofollow"
                    class="link mobile-menu-social__list__link">
                    LinkedIn</a>
            </li>
        </ul>
    </div>

</div>