<section class="products">
  <div class="container">
    <p class="section__subtitle">100% natural</p>
    <h2 class="section__title">products</h2>
    <ul class="products__list">
      <li class="products__item">
        <h3 class="products__title">ice cream</h3>
        <p class="products__subtitle">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer
        </p>
        <button class="products__button" type="button">
          <svg class="products__icon">
            <use href="./images/sprite.svg#icon-arrow-hero"></use>
          </svg>
        </button>
      </li>
      <li class="products__item">
        <h3 class="products__title">ice coffee</h3>
        <p class="products__subtitle">
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>
        <button class="products__button" type="button">
          <svg class="products__icon">
            <use href="./images/sprite.svg#icon-arrow-hero"></use>
          </svg>
        </button>
      </li>
      <li class="products__item">
        <h3 class="products__title">milkshakes</h3>
        <p class="products__subtitle">
          Sweet drinks based on milk and ice cream, supplemented with syrups,
          fruits, berries and other sweets of your choice
        </p>
        <button class="products__button" type="button">
          <svg class="products__icon">
            <use href="./images/sprite.svg#icon-arrow-hero"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
