<section class="products">
  <div class="products__container container">
    <p class="section__subtitle" id="products">100% natural</p>
    <h2 class="section__title">products</h2>
    <ul class="products__list">
      <li class="products__item">
        <h3 class="products__name">ice cream</h3>
        <p class="products__description">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural stabilizer
        </p>
        <button class="products__button" type="button" data-modal-open-1>
          <svg aria-label="icon right arrow" class="products__icon">
            <use href="./images/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>
      <li class="products__item">
        <h3 class="products__name">ice coffee</h3>
        <p class="products__description">
          Fragrant invigorating drink created from 100% natural ingredients without the use of
          preservatives and flavor enhancers
        </p>
        <button class="products__button" type="button" data-modal-open-6>
          <svg aria-label="icon right arrow" class="products__icon">
            <use href="./images/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>
      <li class="products__item">
        <h3 class="products__name">milkshakes</h3>
        <p class="products__description">
          Sweet drinks based on milk and ice cream, supplemented with syrups, fruits, berries and
          other sweets of your choice
        </p>
        <button class="products__button" type="button" data-modal-open-7>
          <svg aria-label="icon right arrow" class="products__icon">
            <use href="./images/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
