<div class="backdrop__read-more is-hidden" data-modal-2>
  <div class="read-more-modal">
    <button type="button" class="read-more-modal__close-btn" data-modal-close-2>
      <svg class="read-more-modal__icon">
        <use href="./images/sprite.svg#icon-close_black"></use>
      </svg>
    </button>
    <p class="read-more-modal__title">How it’s made?</p>
    <div class="read-more-modal__video">
      <iframe
        src="https://www.youtube.com/embed/u0swYiIqbjU?controls=0"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
    <p class="read-more-modal__desc">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
      incididunt ut labore et
    </p>
  </div>
</div>
